/* ============================================= */
/*              Variables                            */
/* ============================================= */
//Colors
$prime-color: #58e1c1;
$base-txt-color: #777;
$button-txt-main: #fff;
$defaults-color: #51ddfc;
$successes-color: #63cc82;
$errors-color: #e4757a;
$warnings-color: #fd7856;
$infos-color: #927bc1;

//Button Transitions
$button-transition: background-color .2s ease-in-out; 

//Media Queries

//layout
$maximum-width-px: 1400px;
$font-stack-prim: 'Lato', sans-serif;
$font-sh: 300;
$font-main: 700;
$all: 100%;
$marg-tp-m: 10px;
//Breaks
$break-tablet: 768px;


