/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $button-txt-main;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover.default {
        @include hover($defaults-color);
    }
    &:hover.success {
        @include hover($successes-color);
    }
    &:hover.error {
        @include hover($errors-color);
    }
    &:hover.warning {
        @include hover($warnings-color);
    }
    &:hover.info {
        @include hover($infos-color);
    }
  }
  
  .default {
    background-color: $defaults-color;
  }
  
  .error {
    background-color: $errors-color;
  }
  
  .info {
    background-color: $infos-color;
  }
  
  .success {
    background-color: $successes-color;
  }
  
  .warning {
    background-color: $warnings-color;
  }