/* ============================================= */
/*              Images                           */
/* ============================================= */


.img-avatar {
    @include display;
    @include displayadv;
    max-height: $all;
  }
  
  .img-frame {
    @include display;
    @include displayadv;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    @include display;
  }
