/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-prim;
  color: $base-txt-color;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}
/* ============================================= */
/* Typography */
/* ============================================= */

.headline-primary {
    color: $prime-color;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: $font-sh;
    color: $base-txt-color;
  }
  
  .link {
    color: $defaults-color;
    font-weight: $font-main;
    &:hover {
      @include hover($defaults-color);
    }
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $font-sh;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $prime-color;
    border-radius: 5px;
  }